
<!-- need to show user and index associated items on this page -->

<%= @user.name %>. <%= link_to "Edit", item_path(@user) %> <%= link_to "Delete", item_path(@item), method: :delete %></h2>

<!-- display season to plant -->
<h3>I prefer to be planted in <%= @crop.season.name %>!</h3>
<%= image_tag @crop[:img_url] %>

<% @crops.each do |crop| %>
  <ul>
    <%= link_to "#{crop.name}", crop %>
  </ul>
<% end %>
