<%= javascript_include_tag "stuff" %>
<%= javascript_include_tag "createprofile.module" %>
<%= javascript_include_tag "createprofile.controller" %>
<%= javascript_include_tag "user.factory.js" %>
<%= javascript_include_tag "home.controller" %>
<%= javascript_include_tag "itemreceived.controller" %>
<%= javascript_include_tag "lostitem.controller" %>
<%= javascript_include_tag "reportfounditem.controller" %>
<%= javascript_include_tag "thanksforreporting.controller" %>
<%= javascript_include_tag "userprofile.controller" %>

<div class="container" data-ng-app="whereismystuff">
  <main data-ui-view></main>
</div>
