<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Pacifico' %>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'application', property: "stylesheet", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <%= yield %>
</body>
</html>
